body{
    background-color: #128c7e;
}
.menuBtn{
    width: 50%;
    height: 100%;
    padding-top: 60%;
}
.logo{
    width: 49%;
    height: 101%;
    padding-top: 16%;
    padding-left: 10%;
    text-align: center;
}
.bosluk{
    padding-top: 16%;
}
.text-center{
    color: antiquewhite;
    
}
.yaziboyut{
    color: antiquewhite;
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    text-align: center;
}
//.indirBtn{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40%;
    background-color: #075e54;
    padding: 12px 36px;
    margin-left: 28%;
    opacity: 16px;
}
.wpScreenshot{
    padding-top: 16%;
    width: 86%;
    height: 70%;
    padding-left: 17%;
}
.business{
    background-color: #D8E8EA;
}
#wpBusinessBaslik{
    padding-top: 6%;
    text-align: center;
}
.yaziboyut2{
    color: black;
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
 }
.uctanUcaSifreBaslik{
    text-align: center;
    padding-top: 6%;
    color: #5E5E5E;
}
.herZamanGuvenliBslk{
    text-align: center;
}
#yaziboyut2{
    color: black;
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 5%;
    text-align: center;
}
.ozellikKesifBtn{
    background-color: white;
}
.ozellikBtn{
    padding-top: 5%;
    padding-bottom: 5%;
}
.wpsirket{
    background-color: #273443;
    padding-top: 12%;
}
.yaziboyut3{
    padding-left: 5%;
    padding-bottom: 5%;
    color: white;
}